{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

<h1 style="color: white; background-color: #F46036; text-align: center;">Statistics</h1><hr>
{% for currency in currencies %}
    {% if currency.price != 0.00 %}
        <div class="card text-white bg-success mb-3" style="width: 25%; display: inline-block; text-align: center;">
            <div class="card-body">
              <p class="card-text">{{currency.price}} $ in ({{currency.currency}})</p>
            </div>
            <a class="btn btn-danger" href="{% url 'sell_currency' currency.pk %}" role="button" style="padding-bottom: 10px; text-align: center; width: 100%;">Sell</a>
        </div>
    {% endif %}
{% endfor %}

    {% if chart %}
        <img src="data:image/png;base64, {{chart|safe}}">
    {% endif %}

{% endif %}

{% endblock content %}