{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
{% if user.id == ownerpk %}

<h1 style="color: white; background-color: #DF2935; text-align: center;">Statistics</h1><hr>
{% for currency in currencies %}
    {% if currency.price != 0.00 %}
        <div class="card text-white bg-success mb-3" style="width: 25%; display: inline-block; text-align: center;">
            <div class="card-body">
              <p class="card-text">{{currency.price}} $ in ({{currency.currency}})</p>
            </div>
            <hr>
            <a class="btn btn-danger" href="{% url 'sell_some_currency' currency.pk %}" role="button" style="text-align: center; width: 100%;">Sell Some</a>
            <div style="padding-top: 3px;">
            <a class="btn btn-danger" href="{% url 'sell_all_currency' currency.pk %}" role="button" style="text-align: center; width: 100%;">Sell All</a>
            </div>
        </div>
    {% endif %}
{% endfor %}
    <form action="" method="POST">
        {%csrf_token%}
        {{form}}
        </br>
        <button type="submit" class="btn btn-primary">View</button>
    </form>
    {% if chart %}
        <img src="data:image/png;base64, {{chart|safe}}">
    {% endif %}

{% else %}
    You are not allowed here...
{% endif %}
{% endif %}

{% endblock content %}